<div class="wrapper mt-lg-5">
  <div class="sidebar-wrapper">
    <div class="profile-container">
      <div class="profile"></div>
      <h1 class="name">Paresh Patil</h1>
      <h3 class="tagline">Full Stack Engineer</h3>
    </div><!--//profile-container-->

    <div class="contact-container container-block">
      <ul class="list-unstyled contact-list">
        <li class="d-flex flex-column gap-2 email"><i class="fa-solid fa-envelope"></i><a
          href="mailto:contact&#64;pareshpatil.in">contact&#64;pareshpatil.in</a></li>
        <li class="d-flex flex-column gap-2 phone"><i class="fa-solid fa-phone"></i><a href="tel:+918087497099">+91 808 749 7099</a></li>
        <li class="d-flex flex-column gap-2 website"><i class="fa-solid fa-globe"></i><a
          href="https://pareshpatil.in/"
          target="_blank">pareshpatil.in</a></li>
        <li class="d-flex flex-column gap-2 linkedin"><i class="fa-brands fa-linkedin-in"></i><a href="https://www.linkedin.com/in/deftlad"
                                                                        target="_blank">linkedin.com/in/deftlad</a></li>
        <li class="d-flex flex-column gap-2 github"><i class="fa-brands fa-github"></i><a href="https://github.com/pareshvpatil" target="_blank">github.com/pareshvpatil</a></li>
        <li class="d-flex flex-column gap-2 twitter"><i class="fa-brands fa-twitter"></i><a href="https://twitter.com/@deftlad"
                                                                   target="_blank">&#64;deftlad</a></li>
      </ul>
    </div><!--//contact-container-->
    <div class="education-container container-block">
      <h2 class="container-block-title">Education</h2>
      <div class="item">
        <h4 class="degree">B.E. Electronics & Telecommunications</h4>
        <h5 class="meta">Pune University, India</h5>
        <div class="time">2012 - 2016</div>
      </div><!--//item-->
    </div><!--//education-container-->

    <div class="languages-container container-block">
      <h2 class="container-block-title">Languages</h2>
      <ul class="list-unstyled interests-list">
        <li><i class="fa-brands fa-java me-2" aria-hidden="true"></i>Java / Kotlin <span class="lang-desc">(Professional)</span></li>
        <li><i class="fa-brands fa-js me-2" aria-hidden="true"></i>Typescript <span class="lang-desc">(Professional)</span></li>
        <li><i class="fa-solid fa-terminal me-2" aria-hidden="true"></i>Shell Script <span class="lang-desc">(Advanced)</span></li>
        <li><i class="fa-brands fa-html5 me-2" aria-hidden="true"></i>HTML5 / CSS <span class="lang-desc">(Advanced)</span></li>
      </ul>
    </div><!--//interests-->

    <div class="languages-container container-block">
      <h2 class="container-block-title">Frameworks</h2>
      <ul class="list-unstyled interests-list">
        <li><i class="fa-brands fa-java me-2" aria-hidden="true"></i>Spring Boot <span class="lang-desc">(Professional)</span></li>
        <li><i class="fa-brands fa-angular me-2" aria-hidden="true"></i>Angular 2+ <span class="lang-desc">(Professional)</span></li>
        <li><i class="fa-brands fa-node-js me-2" aria-hidden="true"></i>Express with NodeJS <span class="lang-desc">(Professional)</span></li>
        <li><i class="fa-solid fa-file-code me-2" aria-hidden="true"></i>Freemarker / Handlebars <span class="lang-desc">(Advanced)</span></li>
      </ul>
    </div><!--//interests-->

    <div class="languages-container container-block">
      <h2 class="container-block-title">Communication</h2>
      <ul class="list-unstyled interests-list">
        <li>Marathi <span class="lang-desc">(Native)</span></li>
        <li>English <span class="lang-desc">(Professional)</span></li>
        <li>Hindi <span class="lang-desc">(Professional)</span></li>
      </ul>
    </div><!--//interests-->

    <div class="interests-container container-block">
      <h2 class="container-block-title">Interests</h2>
      <ul class="list-unstyled interests-list">
        <li>Music</li>
        <li>Cricket</li>
        <li>Guitar</li>
        <li>Reading / Audiobooks</li>
      </ul>
    </div><!--//interests-->

  </div><!--//sidebar-wrapper-->

  <div class="main-wrapper">

    <section class="section summary-section">
      <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-user"></i></span>Introduction</h2>
      <div class="summary">
        <p>7+ years of experience in multi-stack software development. With thorough experience leading teams, building frameworks, and developing and deploying microservices, I bring in a unique skillset to the engineering org. My proficiency spans across Java, Kotlin, Typescript, various cloud platforms and DevOps tools.</p>
      </div><!--//summary-->
    </section><!--//section-->
    <hr>
    <section class="section experiences-section">
      <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Experience & Key Highlights</h2>

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Senior Principal Software Engineer</h3>
            <div class="time">Sept 2019 - Present {{ tenure(1, 2019) }}</div>
          </div><!--//upper-row-->
          <div class="company">Measured Inc, Pune</div>
        </div><!--//meta-->
        <div class="details">
          <div>
            <h4 class="job-area text-uppercase">leadership & collaboration</h4>
            <p class="job-project">Geo 2.0, Taxonomy</p>
            <p>Leading Platform Engineering team as a Senior Principal Engineer by collaborating with different stakeholders, product managers, and design, UI, and data-platform teams to build scalable modules across Measured’s portfolio to build next-gen Geo Testing Tool and Campaign Standardization Taxonomy Tool</p>
          </div>
          <div>
            <h4 class="job-area text-uppercase">system architecture & development</h4>
            <p class="job-project">Native Dashboards, Integrations Tool, Health Monitor</p>
            <p>Built a fast-responding, highly scalable, configurable in-house reporting dashboard framework to replace the older BI dashboards running on Tableau.</p>
            <p>Built a framework to integrate various ad platforms and data sources that clients can use themselves to get their data ingested into the Measured ecosystem.</p>
            <p>Built a template-driven monitoring framework that checks components in the dataflow pipeline which signals the system orchestrator whether to proceed with execution or terminate data pipelines.</p>
          </div>
          <div>
            <h4 class="job-area text-uppercase">individual contribution</h4>
            <p class="job-project">Modular CI/CD, Dockerized Tests, Platform Process Improvement</p>
            <p>Worked to improve processes and infrastructure. Introduced modular execution of CI/CD pipelines, reduced CI infrastructure cost, and set up coding practices across different languages and IDEs with various static code analysis tools.</p>
          </div>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Software Engineer</h3>
            <div class="time">June 2016 - Aug 2019</div>
          </div><!--//upper-row-->
          <div class="company">Vuclip India Pvt Ltd, Pune</div>
        </div><!--//meta-->
        <div class="details">
          <div>
            <h4 class="job-area text-uppercase">platform projects</h4>
            <p class="job-project">Billing as a Service, DIRT (Distributed Inorganic Reach Tactic) Service</p>
            <p>Worked on building a state-machine-driven billing service that allowed synchronous and asynchronous billing integration with multiple external payment gateways for the OTT platform.</p>
            <p>Designed and developed a multi-service ad-click service that handled millions of clicks in the form of ad traffic with a fully config-driven services architecture that allowed customised user treatment for specific campaigns to land users on content or subscription pages.</p>
          </div>
          <div>
            <h4 class="job-area text-uppercase">initiatives & contribution</h4>
            <p class="job-project">Cloud Infrastructure, CI/CD Automation, UI Tools</p>
            <p>Worked on GCP infrastructure for microservice deployment and monitoring with Harness, Istio, Grafana, Prometheus, Zipkin, etc. to bring scale and visibility to deployment environments.</p>
            <p>Worked on building an internal automation tool for automating Jenkins CI/CD pipeline creation to reduce DevOps overhead for new microservices.</p>
            <p>Built internal admin UI in Angular with Spring Boot backend to manage the acquisition pipeline services’ configuration that allowed the sales and marketing teams to configure customised treatments for each ad campaign flow.</p>
          </div>
        </div><!--//details-->
      </div><!--//item-->
    </section><!--//section-->

    <hr>

<!--    <section class="section projects-section">-->
<!--      <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-archive"></i></span>Projects</h2>-->
<!--      <div class="intro">-->
<!--        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet,-->
<!--          consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>-->
<!--      </div>&lt;!&ndash;//intro&ndash;&gt;-->
<!--      <div class="item">-->
<!--        <span class="project-title"><a-->
<!--          href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/"-->
<!--          target="_blank">CoderPro</a></span> - <span class="project-tagline">A responsive website template designed to help developers launch their software projects. </span>-->

<!--      </div>&lt;!&ndash;//item&ndash;&gt;-->
<!--      <div class="item">-->
<!--        <span class="project-title"><a-->
<!--          href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-5-template-for-saas-businesses/"-->
<!--          target="_blank">Launch</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services.</span>-->
<!--      </div>&lt;!&ndash;//item&ndash;&gt;-->
<!--      <div class="item">-->
<!--        <span class="project-title"><a-->
<!--          href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-5-vcard-portfolio-template-for-software-developers/"-->
<!--          target="_blank">DevCard</a></span> - <span class="project-tagline">A portfolio website template designed for software developers.</span>-->
<!--      </div>&lt;!&ndash;//item&ndash;&gt;-->
<!--      <div class="item">-->
<!--        <span class="project-title"><a-->
<!--          href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/bootstrap-template-for-mobile-apps-nova-pro/"-->
<!--          target="_blank">Nova Pro</a></span> - <span class="project-tagline">A responsive Bootstrap theme designed to help app developers promote their mobile apps</span>-->
<!--      </div>&lt;!&ndash;//item&ndash;&gt;-->
<!--      <div class="item">-->
<!--        <span class="project-title"><a-->
<!--          href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/"-->
<!--          target="_blank">DevStudio</a></span> - -->
<!--        <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>-->
<!--      </div>&lt;!&ndash;//item&ndash;&gt;-->
<!--    </section>&lt;!&ndash;//section&ndash;&gt;-->

    <section class="skills-section section">
      <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-rocket"></i></span>Skills &amp;
        Proficiency</h2>
      <div class="skillset">
        <div class="item">
          <h3 class="level-title">Java, Kotlin & Spring Boot</h3>
          <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Typescript & Javascript</h3>
          <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Angular</h3>
          <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">HTML5 &amp; CSS</h3>
          <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">NodeJS & Express</h3>
          <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div><!--//item-->

        <div class="item">
          <h3 class="level-title">Systems Design & Architecture</h3>
          <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div><!--//item-->

      </div>
    </section><!--//skills-section-->

  </div><!--//main-body-->
</div>

<footer class="footer">
  <div class="text-center">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright">Pareshpatil.in | Copyright © {{ year }} | All rights reserved</small>
  </div><!--//container-->
</footer><!--//footer-->
