<div class="wrapper mt-lg-5">
  <div class="sidebar-wrapper">
    <div class="profile-container">
      <div class="profile">
        <img src="/assets/images/resume-headshot.png" alt="P"/>
      </div>
      <h1 class="name">Paresh V Patil</h1>
      <h3 class="tagline">Full Stack Software Developer</h3>
      <span class="education">
        <span>B. E. E&TC - MIT Pune</span>
        <span>2012 - 2016</span>
      </span>
    </div><!--//profile-container-->

    <hr class="section-divider mx-7">

    <div class="contact-container container-block">
      <ul class="list-unstyled contact-list">
        <li class="d-flex flex-column gap-2 email"><i class="fa-solid fa-envelope"></i><a
          href="mailto:contact&#64;pareshpatil.in">contact&#64;pareshpatil.in</a></li>
        <li class="d-flex flex-column gap-2 phone"><i class="fa-solid fa-phone"></i><a href="tel:+918087497099">+91 808
          749 7099</a></li>
        <li class="d-flex flex-column gap-2 website"><i class="fa-solid fa-globe"></i><a
          href="https://pareshpatil.in/"
          target="_blank">pareshpatil.in</a></li>
        <li class="d-flex flex-column gap-2 linkedin"><i class="fa-brands fa-linkedin-in"></i><a
          href="https://www.linkedin.com/in/deftlad"
          target="_blank">linkedin.com/in/deftlad</a></li>
        <li class="d-flex flex-column gap-2 github"><i class="fa-brands fa-github"></i><a
          href="https://github.com/pareshvpatil" target="_blank">github.com/pareshvpatil</a></li>
        <li class="d-flex flex-column gap-2 twitter"><i class="fa-brands fa-twitter"></i><a
          href="https://twitter.com/@deftlad"
          target="_blank">&#64;deftlad</a></li>
      </ul>
    </div><!--//contact-container-->

    <hr class="section-divider mx-7">

    <div class="languages-container container-block">
      <h2 class="container-block-title">Technologies</h2>
      <table class="languages-table">
        <tbody>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <img src="/assets/images/java.png" alt="J"><span>Java / Kotlin</span>
            </div>
          </td>
          <td>Professional</td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <img src="/assets/images/springboot.png" alt="S"><span>Spring Boot</span>
            </div>
          </td>
          <td>Professional</td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <img src="/assets/images/typescript.png" alt="T"><span>Typescript</span>
            </div>
          </td>
          <td>Advanced</td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <img src="/assets/images/nodejs.png" alt="N"><span>NodeJS, Express</span>
            </div>
          </td>
          <td>Advanced</td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <img src="/assets/images/angular.svg" alt="A"><span>Angular</span>
            </div>
          </td>
          <td>Advanced</td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <img src="/assets/images/html5.png" alt="H"><span>HTML5, CSS</span>
            </div>
          </td>
          <td>Proficient</td>
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <img src="/assets/images/shellscript.png" alt="Sh"><span>Shell Script</span>
            </div>
          </td>
          <td>Proficient</td>
        </tr>
        </tbody>
      </table>
    </div><!--//interests-->

    <hr class="section-divider mx-7">

    <div class="container-block interests-container mt-auto">
      <h2 class="container-block-title">Language & Interests</h2>
      <div class="interests-list">
        <span>English</span>
        <span>Hindi</span>
        <span>Marathi (Mother Tongue)</span>
      </div>
      <div class="interests-list">
        <span>Music</span>
        <span>Cricket</span>
        <span>Guitar</span>
        <span>Audible</span>
      </div>
    </div><!--//interests-->

  </div><!--//sidebar-wrapper-->
  <div class="main-wrapper p-[4rem]">
    <div class="section-wrapper">
      <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-user"></i></span>Introduction</h2>
      <section class="section summary-section">
        <div class="summary">
          <p class="intro">{{ experienceInYears }}+ years of experience in full-stack software development. With thorough experience leading
            teams, building distributed systems at scale, frameworks, and developing and deploying microservices, I bring a unique skillset to the
            engineering org. My proficiency spans across Java, Kotlin, Typescript, various cloud platforms and DevOps
            tools.</p>
        </div><!--//summary-->
      </section><!--//section-->
    </div>
    <div class="section-wrapper">
      <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Work experience
      </h2>
      <section class="section experiences-section">
        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Senior Principal Software Engineer</h3>
              <div class="time">Sept 2019 - Present ({{ tenure(9, 2019) }})</div>
            </div><!--//upper-row-->
            <div class="company">Measured India Pvt Ltd, Pune</div>
          </div><!--//meta-->
          <div class="details">
            <div class="area">
              <h4 class="job-area">leadership & collaboration</h4>
              <p class="job-project">Geo 2.0, Taxonomy</p>
              <p>Leading Platform Engineering team as a Senior Principal Engineer by collaborating with different
                stakeholders, product managers, and design, UI, and data-platform teams to build scalable modules across
                Measured’s portfolio to build next-gen Geo Testing Tool and Ad-tech campaigns' taxonomy tool!</p>
            </div>
            <div class="area">
              <h4 class="job-area">artificial intelligence & platform architecture</h4>
              <p class="job-project">Gen-AI-based Analytics Agent, AI-based Embedding & Taxonomy, Gen-AI Debugging Assistant</p>
              <p>Leading and building Gen-AI based platform architecture with Agents, Tools, Processes to help internal teams and Customers such as conversational analytical agents, debugging agents, AI-based processes like Taxonomy Recommendation Engine, etc. with various frameworks and AI platforms like Google Vertex AI, AWS Bedrock, Open AI Agents SDK, LangGraph, Crew AI, etc.</p>
              <p>Built various MCP servers that provide data from various sources like articles, databases, meeting summaries, Google Drive, etc. to Setup sophisticated RAG-based agents and chatbots.</p>
              <p>Used Crew AI with Python, LangChain with Typescript, Open AI Agents SDK, MCP SDK for developing MCP servers with Embedding Vector Stores like Elasticsearch, ChromaDB, and used AWS Bedrock for using various Large Language Models.</p>
            </div>
            <div class="area">
              <h4 class="job-area">system architecture & development</h4>
              <p class="job-project">In-house Analytics Dashboards, Integrations Tool, Health Monitor</p>
              <p>Built a fast-responding, highly scalable, configurable in-house reporting dashboard framework to
                replace the older BI dashboards running on Tableau.</p>
              <p>Built a framework to integrate various ad platforms and data sources that clients can use themselves to
                get their data ingested into the Measured ecosystem.</p>
              <p>Built a template-driven monitoring framework that checks components in the dataflow pipeline which
                signals the system orchestrator whether to proceed with execution or terminate data pipelines.</p>
            </div>
            <div class="area">
              <h4 class="job-area">individual contribution</h4>
              <p class="job-project">Modular CI/CD, Dockerized Tests, Platform Process Improvement</p>
              <p>Worked to improve processes and infrastructure. Introduced modular execution of CI/CD pipelines,
                reduced CI infrastructure cost, and set up coding practices across different languages and IDEs with
                various static code analysis tools.</p>
            </div>
          </div><!--//details-->
        </div><!--//item-->

        <div class="item">
          <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">Software Engineer</h3>
              <div class="time">June 2016 - Aug 2019 ({{ tenure(6, 2016, 8, 2019) }})</div>
            </div><!--//upper-row-->
            <div class="company">Vuclip India Pvt Ltd, Pune</div>
          </div><!--//meta-->
          <div class="details">
            <div class="area">
              <h4 class="job-area text-uppercase">platform projects</h4>
              <p class="job-project">Billing as a Service, DIRT (Distributed Inorganic Reach Tactic) Service</p>
              <p>Worked on building a state-machine-driven billing service that allowed synchronous and asynchronous
                billing integration with multiple external payment gateways for the OTT platform.</p>
              <p>Designed and developed a multi-service ad-click service that handled millions of clicks in the form of
                ad traffic with a fully config-driven services architecture that allowed customised user treatment for
                specific campaigns to land users on content or subscription pages.</p>
            </div>
            <div class="area">
              <h4 class="job-area text-uppercase">initiatives & contribution</h4>
              <p class="job-project">Cloud Infrastructure, CI/CD Automation, UI Tools</p>
              <p>Worked on GCP infrastructure for microservice deployment and monitoring with Harness, Istio, Grafana,
                Prometheus, Zipkin, etc. to bring scale and visibility to deployment environments.</p>
              <p>Worked on building an internal automation tool for automating Jenkins CI/CD pipeline creation to reduce
                DevOps overhead for new microservices.</p>
              <p>Built internal admin UI in Angular with Spring Boot backend to manage the acquisition pipeline
                services’ configuration that allowed the sales and marketing teams to configure customised treatments
                for each ad campaign flow.</p>
            </div>
          </div><!--//details-->
        </div><!--//item-->
      </section><!--//section-->
    </div>
  </div><!--//main-body-->
</div>

<footer class="footer">
  <div class="text-center">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright">Pareshpatil.in | Copyright © {{ year }} | All rights reserved</small>
  </div><!--//container-->
</footer><!--//footer-->
