body {
  font-family: 'Inter', sans-serif;
  color: $text-color-secondary;
  background: url('/assets/images/resume-bg-green.jpg') center fixed no-repeat;
  background-size: cover;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: darken($theme-color, 15%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: darken($theme-color, 30%);
    @include transition(all 0.4s ease-in-out);
  }

  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  background: transparent;
  max-width: 1146px;
  margin: 2rem auto;
  position: relative;
  display: flex;
  gap: 2rem;
}

.section-divider {
  border-color: $lighter-grey;
}

.sidebar-wrapper {
  @apply bg-white bg-opacity-80 backdrop-blur-lg flex flex-col flex-shrink-0 rounded-2xl;

  width: 300px;
  height: auto;
  min-height: 800px;
  color: $text-color-secondary;
  border: 1px solid $lighter-grey;

  a {
    color: $text-color;
  }

  .profile-container {
    @apply flex flex-col items-center gap-2 p-7 text-center;
    color: $text-color-secondary;
  }

  .name {
    line-height: 1;
    font-size: 32px;
    font-weight: 900;
  }

  .tagline {
    color: $heart;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  .education {
    @apply flex flex-col gap-1;

    span {
      font-size: 0.75rem;
      color: $text-color-secondary;
    }
  }

  .profile {
    img {
      height: 10rem;
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  .contact-list {
    @apply flex flex-col gap-3;

    .svg-inline--fa {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }

    li {
      @apply flex items-center gap-4;
    }

    .email {
      .svg-inline--fa {
        font-size: 14px;
      }
    }
  }

  .container-block {
    @apply flex flex-col gap-4 p-7;
  }

  .interests-container {
    @apply gap-2;
  }

  .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }

  .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .education-container {
    .item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .meta {
      color: $text-color-secondary;
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
      font-size: 14px;
    }

    .time {
      color: $text-color-secondary;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }

  .languages-container {
    .lang-desc {
      color: $text-color-secondary;
    }
  }

  .languages-table {
    tr td {
      padding: 0.5rem 0;

      &:first-of-type {
        font-weight: 700;
      }
    }
    tr td img {
      height: 0.75rem;
      aspect-ratio: 1;
      margin-right: 0.5rem;
    }
    tr td:last-child {
      text-align: end;
    }
  }

  .languages-list {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list {
    @apply flex items-center flex-wrap gap-1.5;
    span {
      @apply bg-transparent flex items-center p-2 leading-none rounded-lg text-xs;
      color: $text-color;
      border: 1px solid $lighter-grey;
    }
  }
}

.main-wrapper {
  @apply bg-white bg-opacity-80 backdrop-blur-lg rounded-2xl p-8;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  border: 1px solid $lighter-grey;

  .summary, .details {
    @apply flex flex-col gap-4 text-justify;

    .intro {
      color: $text-color-secondary;
    }
  }

  .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: $text-color;
    position: relative;
    display: flex;
    gap: 1rem;

    .icon-holder {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      @include border-radius(50%);
      background: $heart;
      text-align: center;
      font-size: 16px;

      .svg-inline--fa {
        font-size: 14px;
      }
    }

  }

  .section-wrapper {
    @apply flex flex-col gap-4;
  }

  .section {
    @apply p-0 flex flex-col gap-6;
  }

  .experiences-section {
    .item {
      @apply flex flex-col gap-4 bg-transparent p-6 rounded-2xl;
      border: 1px solid $lighter-grey;
    }
  }

  .meta {
    @apply flex flex-col gap-1;
  }

  .upper-row {
    @apply flex flex-wrap items-center gap-1 justify-between;
  }

  .job-title {
    color: $heart;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .job-area {
    @apply uppercase leading-none;
    color: darken($theme-color, 5%);
    font-size: 1rem;
    font-weight: 700;
  }

  .job-project {
    color: $theme-color;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 500;
  }

  .time {
    color: $text-grey;
  }

  .area {
    @apply flex flex-col gap-2;
  }

  .company {
    color: $text-grey;
  }

  .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .projects-section {
    .intro {
      margin-bottom: 30px;
    }

    .item {
      margin-bottom: 15px;
    }
  }

}


.skillset {
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }

  .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }


  .level-bar {
    height: 12px;
    background: $smoky-white;
    @include border-radius(2px);
  }

  .theme-progress-bar {
    background: lighten($theme-color, 10%);
  }
}


.footer {
  padding: 30px;
  padding-top: 60px;

  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }

}

